
html {
    position: relative;
    min-height: 100%;

}

body {
    background-color: #f6f6f6;
}

h1{
    text-align: center;
}

/* Не трогай */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: #ccc;
}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-link-collapse:after {
  float: right;
  content: '\f067';
  font-family: 'FontAwesome';
}

.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
  padding-left: 0;
  list-style-type: none;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}

/* Можешь менять */
.main{
  margin-left: 15%;
  color: #484848;
}

.buy{
    float: right;
}

/* НЕ ТРОГАЙ БЛЯТЬ*/
@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    /*margin-left: 13%; */
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 4.3rem;
    background: #343a40;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 5%;
    width: 90%;
  }

  .footer {
    width: calc(80% - 230px);
    margin-left: 9.99%;
  }
}


/* SideGay*/
.list-icon {
    margin-right: 7px;
}

.shake-icon:hover {
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

.list-link:hover img.shake-icon{
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

@-webkit-keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}
@keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}

/* Кнопки */

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}