
::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
}

html {
    position: relative;
    min-height: 100%;
        -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */

}

body {
    background-color: #f6f6f6;
}

h1{
    text-align: center;
}


/* Можешь менять */
.main{
  margin-left: 15%;
  color: #484848;
}

.buy{
    float: right;
}


/* SideGay*/
.list-icon {
    margin-right: 7px;
}

.shake-icon:hover {
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

.list-link:hover img.shake-icon{
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

@-webkit-keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}
@keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}

/* Кнопки */

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* кнопки добавления НЕ ТРОГАЙ БЛЯТЬ */

.main-hr {
  width: 30%;
  border: none;
  border-top: 1px solid #c3c3c3;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #222;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #222;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* modal */

.overlay {
   
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}


.modal {
   
   opacity: 0;
   visibility: hidden;
   display: block;
   overflow: auto;
   
   width: 60% + 18px;
   height: 70%;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30;

   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 10px;
   right: 10px;
   fill: #444;
   cursor: pointer;
}

.js-hardware-block {
    text-decoration: none;
    display: block;
}

.js-hardware-block:hover {
    text-decoration: none;
}

/* close button for configurator */

.close-container {
	 position: relative;
	 width: 35px;
	 height: 35px;
	 cursor: pointer;
     float: right;
     margin-right: 5%;
}
 .leftright {
	 height: 4px;
	 width: 35px;
	 position: absolute;
	 margin-top: 24px;
	 background-color: #343a40;
	 border-radius: 2px;
	 transform: rotate(45deg);
	 transition: all 0.3s ease-in;
}
 .rightleft {
	 height: 4px;
	 width: 35px;
	 position: absolute;
	 margin-top: 24px;
	 background-color: #343a40;
	 border-radius: 2px;
	 transform: rotate(-45deg);
	 transition: all 0.3s ease-in;
}

 .close-container:hover .leftright {
	 transform: rotate(-45deg);
	 background-color: #f25c66;
}
 .close-container:hover .rightleft {
	 transform: rotate(45deg);
	 background-color: #f25c66;
}
 