
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
}

html {
    position: relative;
    min-height: 100%;
        -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */

}

body {
    background-color: #f6f6f6;
    font-family: oswald-extralight,oswald,sans-serif;
}

h1{
    text-align: center;
}

@media (min-width: 1280px){
    body {font-size: 15px;}
}

@media (max-width: 1280px){
    body {font-size: 10px;}
}

/* Можешь менять */
.main{
  margin-left: 15%;
  color: #484848;
}

.buy{
    float: right;
}


/* SideGay*/
.list-icon {
    margin-right: 7px;
}

.shake-icon:hover {
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

.list-link:hover img.shake-icon{
	-webkit-animation: shake-icon 0.8s both;
	        animation: shake-icon 0.8s both;
}

@-webkit-keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}
@keyframes shake-icon {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-6deg);
            transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
            transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
            transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2.4deg);
            transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1.2deg);
            transform: translateX(-2px) rotate(-1.2deg);
  }
}

/* Кнопки */

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* кнопки добавления НЕ ТРОГАЙ БЛЯТЬ */

.main-hr {
  width: 30%;
  border: none;
  border-top: 1px solid #c3c3c3;
}
.icon-btn {
  width: 50px;
  height: 50px;
  font-size: 15px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #222;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #222;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* modal */

.overlay {
   
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}


.modal {
   
   opacity: 0;
   visibility: hidden;
   display: block;
   overflow: auto;
   
   width: 60%;
   height: 70%;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30;

   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 10px;
   right: 10px;
   fill: #444;
   cursor: pointer;
}

.js-hardware-block {
    text-decoration: none;
    display: block;
}

.js-hardware-block:hover {
    text-decoration: none;
}

/* close button for configurator */

.close-container {
	 width: 35px;
	 height: 35px;
	 cursor: pointer;

     
}
 .leftright {
	 height: 4px;
	 width: 35px;
	 position: absolute;
	 margin-top: 24px;
	 background-color: #343a40;
	 border-radius: 2px;
	 transform: rotate(45deg);
	 transition: all 0.3s ease-in;
}
 .rightleft {
	 height: 4px;
	 width: 35px;
	 position: absolute;
	 margin-top: 24px;
	 background-color: #343a40;
	 border-radius: 2px;
	 transform: rotate(-45deg);
	 transition: all 0.3s ease-in;
}

 .close-container:hover .leftright {
	 transform: rotate(-45deg);
	 background-color: #f25c66;
}
 .close-container:hover .rightleft {
	 transform: rotate(45deg);
	 background-color: #f25c66;
}

.hardware-close-div {
    position: absolute;
    top: -1px;
    right: -24px; 
    width: 40px;
    height: 100%;
    border: 1px;
    border-color: #F5F5F5;
    background-color: #F5F5F5; 
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* save cfg */

.save-cfg {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
     margin-top: 20px;
}
 .save-cfg-btn {
	 position: relative;
	 display: block;
	 width: 200px;
	 height: 36px;
	 border-radius: 18px;
	 background-color: #343a40;
	 border: solid 1px transparent;
	 color: #fff;
	 font-size: 18px;
	 font-weight: 300;
	 cursor: pointer;
	 transition: all 0.1s ease-in-out;
     outline: none;
}
.save-cfg-btn:focus{
    outline:none;
}

 .save-cfg-btn:hover {
	 background-color: transparent;
	 border-color: black;
     color: black;
	 transition: all 0.1s ease-in-out;
}
 .loader {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 50px;
	 height: 50px;
	 background: transparent;
	 margin: 30px auto 0 auto;
	 border: solid 2px #424242;
	 border-top: solid 2px #00FF7F;
	 border-radius: 50%;
	 opacity: 0;
}
 .check {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 transform: translate3d(-4px, 50px, 0);
	 opacity: 0;
}
 .check span:nth-child(1) {
	 display: block;
	 width: 10px;
	 height: 2px;
	 background-color: black;
	 transform: rotate(45deg);
}
 .check span:nth-child(2) {
	 display: block;
	 width: 20px;
	 height: 2px;
	 background-color: black;
	 transform: rotate(-45deg) translate3d(14px, -4px, 0);
	 transform-origin: 100%;
}

 .check.active {
	 opacity: 1;
	 transform: translate3d(-4px, 4px, 0);
	 transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
	 transition-delay: 0.2s;
}

.loader.active {
     animation: loading 2s ease-in-out;
     animation-fill-mode: forwards;
}

 @keyframes loading {
	 30% {
		 opacity: 1;
	}
	 85% {
		 opacity: 1;
		 transform: rotate(1080deg);
		 border-color: #343a40;
	}
	 100% {
		 opacity: 1;
		 transform: rotate(1080deg);
		 border-color: #00FF7F;
	}
}


 .loader.fail {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 50px;
	 height: 50px;
	 background: transparent;
	 margin: 30px auto 0 auto;
	 border: solid 2px #424242;
	 border-top: solid 2px #FF0033;
	 border-radius: 50%;
	 opacity: 0;
}
 .check.fail {
         margin-left: auto;
    margin-right: auto;
	 width: 100%;
     text-align: center;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 transform: translate3d(-4px, 50px, 0);
	 opacity: 0;
     position: relative;
}
 .check.fail span:nth-child(1) {
	 display: none;
}
 .check.fail span:nth-child(2) {
	 display: none;
}

 .check.fail.active {
	 opacity: 1;
	 transform: translate3d(0px, 4px, 0);
	 transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
	 transition-delay: 0.2s;
}

.loader.fail.active {
     animation: loading-fail 2s ease-in-out;
     animation-fill-mode: forwards;
}

 @keyframes loading-fail {
	 30% {
		 opacity: 1;
	}
	 85% {
		 opacity: 1;
		 transform: rotate(1080deg);
		 border-color: #343a40;
	}
	 100% {
		 opacity: 1;
		 transform: rotate(1080deg);
		 border-color: #FF0033;
	}
}

.check-img {
    width: 36px;
    height: 36px;
}

/* search bar and btn */


}
body, input {
	color: #171717;
}
.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	padding: 2px;
	justify-content: center;
	width: 40%;
    height: 10%;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #343a40;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #343a40;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.final-price {
    text-align: right;
    color: #228B22;
}