<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='node_modules/sidebar-skeleton-compostrap/dist/css/sidebar.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='node_modules/open-sans-fontface/open-sans.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='node_modules/perfect-scrollbar/css/perfect-scrollbar.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.menu.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

</head>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <a class="navbar-brand">Cheap PC</a>
        <button class="navbar-toggler btn btn-link border-0" type="button" id="sidebar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
      <form action="{{ url_for('search') }}" class="search-bar" style="margin: auto;">
        <input autocomplete="off" type="search" name="s" pattern=".*\S.*" required
                 aria-label="Search" value="{{request.args.get('s', '')}}">
        <button class="search-btn" type="submit">
            <span>Search</span>
        </button>
    </form>
    </nav>
</header>
<body>
    <div class="d-flex wrapper wrapper-navbar-used wrapper-navbar-fixed">
        
      <nav role="navigation" class="sidebar sidebar-bg-dark sidebar-rounded-top-right shadow-box" id="navigation" style="margin-top: 2px;">

            <!-- sidebar -->
            <div class="sidebar-menu">

                <!-- menu fixed -->
                <div class="sidebar-menu-fixed">

                    <!-- menu scrollbar -->
                    <div class="scrollbar scrollbar-bg-dark">

                        <!-- menu -->
                        <ul class="list list-unstyled list-bg-dark list-icon-blue mb-0">
                            <li class="list-item">

                            <!-- list title -->
                                <p class="list-title text-uppercase">Главная</p>
                                <ul class="list-unstyled">
                                <li><a href="/" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/home.png')}}"></span>Перейти на главную</a></li>
                                </ul>

                            </li>

                            <!-- multi-level dropdown menu -->
                            <li class="list-item">

                                <!-- list title -->
                                <p class="list-title text-uppercase">Комплектующие</p>

                                <!-- list items -->
                                <ul class="list-unstyled">
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/cpu.png')}}"></span>Процессоры</a>

                                        <!-- list items, second level -->
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="#" class="list-link link-arrow">Intel</a>
                                                <ul class="list-unstyled list-hidden">
                                                    <li><a href="{{url_for('cpu', type='Intel', socket='1151 v2')}}" class="list-link">Socket 1151v2</a></li>
                                                    <li><a href="{{url_for('cpu', type='Intel', socket='1151,')}}" class="list-link">Socket 1151</a></li>
                                                    <li><a href="{{url_for('cpu', type='Intel', socket='1200')}}" class="list-link">Socket 1200</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="list-link link-arrow">AMD</a>

                                                <!-- list items, third level -->
                                                <ul class="list-unstyled list-hidden">
                                                    <li><a href="{{url_for('cpu', type='Amd', socket='AM4')}}" class="list-link">Socket AM4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/gpu.png')}}"></span>Видеокарты</a>

                                        <!-- list items, second level -->
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="/gpu/geforce" class="list-link">Nvidia</a></li>
                                            <li><a href="/gpu/radeon" class="list-link">Radeon</a></li>                                          
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/motherboard.png')}}"></span>Материнские платы</a>

                                        <!-- list items, second level -->
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="#" class="list-link link-arrow">Intel</a>
                                                <ul class="list-unstyled list-hidden">
                                                    <li><a href="/motherboard/1151 v2" class="list-link">Socket 1151v2</a></li>
                                                    <li><a href="/motherboard/1151," class="list-link">Socket 1151</a></li>
                                                    <li><a href="/motherboard/1200" class="list-link">Socket 1200</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="list-link link-arrow">AMD</a>

                                                <!-- list items, third level -->
                                                <ul class="list-unstyled list-hidden">
                                                    <li><a href="/motherboard/am4" class="list-link">Socket AM4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/ram.png')}}"></span>Оперативная память</a>

                                        <!-- list items, second level -->
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="/ram/ddr-4" class="list-link">DDR4</a></li>             
                                            <li><a href="/ram/ddr-3" class="list-link">DDR3</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/drive.png')}}"></span>Накопители</a>

                                        <!-- list items, second level -->
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="/drive/hdd" class="list-link">HDD</a></li>
                                            <li><a href="/drive/ssd" class="list-link">SSD</a></li>                                          
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#" class="list-link link-arrow"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/fan.png')}}"></span>Кулеры</a>
                                        <ul class="list-unstyled list-hidden">
                                            <li><a href="/cooling/для процессора" class="list-link">Процессорные</a></li>             
                                            <li><a href="/cooling/для корпуса" class="list-link">Корпусные</a></li>
                                            <li><a href="/cooling/сво" class="list-link">СВО</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/ps" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/ps.png')}}"></span>Блоки питания</a></li>
                                    <li><a href="/case" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/case.png')}}"></span>Корпуса</a></li>
                                    
                                </ul>
                            </li>

                            <li class="list-item">

                                <!-- list title -->
                                <p class="list-title text-uppercase">Конфигуратор</p>
                                <ul class="list-unstyled">
                                    <li><a href="/configurator" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/conf.png')}}"></span>Создать конфигурацию</a></li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li><a href="/configurations" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/conf.png')}}"></span>Готовые сборки</a></li>
                                </ul>
                            </li>
                            
                            <li class="list-item">

                                <!-- list title -->
                                <p class="list-title text-uppercase">О нас</p>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="list-link"><span class="list-icon"><img class="shake-icon" src="{{url_for('static', filename='img/team.png')}}"></span>Наша dreamteam</a></li>
                                </ul>
                                
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 4.5rem;">
            <main class="content-wrapper">
              <div class="container-fluid">
                  {% block content %}
                  {% endblock %}
              </div>
            </main>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>


        <!-- SideBar (also Insaf is faggot)  -->

        <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js')}}"></script>
        <script src="{{url_for('static', filename='node_modules/sidebar-skeleton-compostrap/dist/js/sidebar.js')}}"></script>
        <script src="{{url_for('static', filename='node_modules/perfect-scrollbar/dist/perfect-scrollbar.js')}}"></script>
        <script src="{{url_for('static', filename='node_modules/nanobar/nanobar.js')}}"></script>
        <script src="{{url_for('static', filename='js/sidebar.menu.js')}}"></script>
        <script>
            $(function() {
                new Nanobar().go(100);
                new PerfectScrollbar('.scrollbar');
            });
        </script>
    <!-- Булат пидор!  -->
 </div>   
</body>
</html>