{% extends "base.html" %}

{% block title %}
    Configurator
{% endblock %}

{% block content %}

        <div class="input-group mb-3 shadow">
          <input autocomplete="off" type="text" id='name' class="form-control" placeholder="Введите название сборки" aria-label="Введите название сборки" aria-describedby="button-addon2">
    <!--      <div class="input-group-append">-->
    <!--        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Отправить</button>-->
    <!--      </div>-->
        </div>

    {% for conf in confList %}
        <div class="border shadow p-4 origin-{{confList[conf]['h_name']}}" style="background-color: #fff; border-radius: 8px; position: relative;margin-bottom: 5px;">
            
            <img src="static/img/{{confList[conf]['pic']}}" style="width: 35px; height:35px; margin-right: 10px;">{{confList[conf]["name"]}}
            <div style="float:right;text-align: center; width: 20%;">
                <button  class="icon-btn add-btn js-open-modal" data-modal="{{confList[conf]['h_name']}}">
                    <div class="add-icon"></div>
                    <div class="btn-txt">Добавить</div>
                </button>
            </div>
        </div>

    {% endfor %}
    
    <div class="final-price"></div>
    
    <div class="save-cfg">
      <button class="save-cfg-btn">Сохранить</button>


      <div class="loader">
        <div class="check">
          <span class="check-one"></span>
          <span class="check-two"></span>
            <img class="check-img" src="static/img/exclamation_icon.svg">
        </div>
      </div>
  
    </div>


    {% for conf in confList %}
        
        <div class='modal' data-modal='{{confList[conf]["h_name"]}}'>
           <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
           {% for hardware in hardware_list[confList[conf]["h_name"]] %}

            <a class="js-hardware-block {{confList[conf]['h_name']}}" href="#">
                <div class="container col-md6 border shadow p-4 mb-4" style="background-color: #fff; border-radius: 8px; color: #343538;">
                    <div class="hardware-close-div border" style="display: none;"></div>
                    <img src="{{hardware.picture}}" loading="lazy" alt="Hardware" style="width: 70px; height: 70px; float: left;">
                    <div style="margin-left: 10px; padding-left: 75px">
                        <div class='hardware-price' style="float:right;"><strong>{{hardware.price}}</strong></div>
                        <h4 class="hardware-name">{{hardware.name}}</h4>
                        <div style="width: 70%">[{{hardware.spec}}]</div>
                    </div>
                </div>
            </a>

        {% endfor %}
        </div>

    {% endfor %}

<script src="{{url_for('static', filename='js/modal.js')}}"></script> 
<script src="{{url_for('static', filename='js/configurator.js')}}"></script>
<div class="overlay js-overlay-modal"></div>
{% endblock %}  