{% extends "base.html" %}

{% block title %}
    GaysPC
{% endblock %}

{% block content %}
<h1>{{pageTitle}}</h1>
{% for hardware in hardwareList %}
<li style="list-style-type: None;">
    <div class="container col-md6 border shadow p-4 mb-4" style="background-color: #fff; border-radius: 8px">
        <img src="{{hardware.picture}}" alt="Ryzen" style="width: 70px; height: 70px; float: left;">
        <div style="margin-left: 10px; padding-left: 75px">
            <h2>{{hardware.name}}</h2>
            <div style="float: right; ">
                    <div style=""><strong>{{hardware.price}}</strong></div>
                    <a href="{{hardware.url}}" class="btn btn-primary shadow buy" style="background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
                                                            outline: none;
                                                            border: 0;
                                                            color: #fff;">
                        Open</a></div>
            <div style="width: 70%">[{{hardware.spec}}]</div>
        </div>
    </div>
</li>
{% endfor %}
{% endblock %}
