{% extends "base.html" %}

{% block title %}
    GaysPC
{% endblock %}

{% block content %}
<h1>{{pageTitle}}</h1>
{% for hardware in hardwareList %}
<li style="list-style-type: None;">
    <div class="container col-md6 border shadow p-4 mb-4" style="background-color: #fff; border-radius: 8px">
        <img src="https://www.regard.ru./cpreview280/shop/324861.jpg" alt="Ryzen" style="width: 70px; height: 70px; float: left;">
        <div style="margin-left: 10px; padding-left: 100px">
            <h2>{{hardware.name}}</h2>
            <div>
                <div style="float: right"><strong>{{hardware.price}}</strong></div>
                [ {{hardware.spec}} ]
                <a href="{{hardware.url}}" class="btn btn-primary shadow buy" style="background-image: linear-gradient(to top, #fc8507, #ffa218);
                                                            outline: none;
                                                            border: 0;
                                                            color: #fff">
                Open CPU</a>
            </div>
        </div>
    </div>
</li>
{% endfor %}
{% endblock %}
