{% extends "base.html" %}

{% block title %}
    GaysPC
{% endblock %}

{% block content %}
<h1>{{pageTitle}}</h1>
{% for hardware in hardwareList %}
<li style="list-style-type: None;">
    <div class="container col-md6 border shadow p-4 mb-4" style="background-color: #fff; border-radius: 8px; color: #343538;">
        <img src="{{hardware.picture}}" alt="Ryzen" style="width: 70px; height: 70px; float: left;">
        <div style="margin-left: 10px; padding-left: 75px">
            <div style="float:right;"><strong>{{hardware.price}}</strong></div>
            <h2>{{hardware.name}}</h2>                
            <a href="{{hardware.url}}" class="btn btn-primary shadow buy" style="background: #343a40;outline: none;border: 0;width: 120px;color: #f6f6f6;float: right;"><span>Открыть</span></a>                            
            <div style="width: 70%">[{{hardware.spec}}]</div>
        </div>
    </div>
</li>
{% endfor %}
{% endblock %}
  <button class="icon-btn add-btn" style="color: white;">
    <div class="add-icon"></div>
    <div class="btn-txt">Добавить</div>
  </button>
