{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div>
  {% for type in type_list %}
  <h4>{{type_list[type]["name"]}}</h4>
  <div class="card-deck" style="margin-bottom: 20px">
    {% for hardware in hardware_list[type] %}
    <div class="card shadow" style="padding: 5px">
      <img src="{{hardware.picture}}" loading="lazy" class="card-img-top" alt="{{hardware.hardware_type}}">
      <div class="card-body">
        <a href='{{hardware.url}}' class="card-title">{{hardware.name}}</a>
        <p></p>
        <p class="card-text">[ {{hardware.spec}} ]</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

{% endblock %}